{% extends "base.html" %}
{% block content %}
  <h2>Usuários cadastrados 👤</h2>
  <table class="table">
    <thead>
      <tr>
        <th>CPF</th>
        <th>Staff</th>
        <th>Superuser</th>
        <th>Ativo</th>
      </tr>
    </thead>
    <tbody>
      {% for user in usuarios %}
        <tr>
          <td>{{ user.cpf }}</td>
          <td>{{ user.is_staff }}</td>
          <td>{{ user.is_superuser }}</td>
          <td>{{ user.is_active }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
